/* PC */
@media (min-width: 64em) {
    #mobile-menu {
        display: none;
    }
}
/* Tablet and mobile */
@media (max-width: 63.9375em) {
    .subnav >li> a {
        padding: 10px 14px;
    }
    .place-buy-btn {
        padding: 14px;
    }
    .form-control {
        padding: 14px;
    }
    .form-submit-btn {
        padding: 14px 20px;
    }
    .copyright-link {
        padding: 8px 0;
    }
    .contact-info-list {
        line-height: 2;
    }
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #mobile-menu {
        display: none;
    }
    .social-list a {
        font-size: 40px;
        padding: 0 10px;
    }
    .footer-copyright {
        font-size: 16px;
    }
}
/* mobile */
@media (max-width: 46.1875em) {
    .nav >li {
        display: block;
    }
    #header {
        overflow: hidden;
    }
    #header .search{
        display: none;
    }

    .search:hover {
        background-color: #ccc;
        color: #000;
    }
    #mobile-menu {
        display: flex;
    }
    #header .nav {
        display: block;
    }
    #header .subnav {
        position: initial;
        background-color: #ccc;
    }
    #header .subnav  li {
        padding: 8px;
    }
    #content .member-img {
        width: 60%;
    }
    .s-col-full {
        width: 100%;
    }
    .s-full-width {
        width: 100%;
    }
    .contact-info-list {
        margin-bottom: 16px;
    }
    .contact-form-section {
        margin-top: 16px;
    }
   
    .s-mt-8 {
        margin-top: 8px;
    }
    .social-list a {
        padding: 0 11px;
    }
    
}